<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.talkappandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TalkAppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalkAppAndroid"
        tools:targetApi="31">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activites.ChatActivity"
            android:theme="@style/AppTheme.Base"
            android:exported="false" />
        <activity
            android:name=".activites.FormNewContactActivity"
            android:label="New contcat"
            android:exported="false" />
        <activity
            android:name=".activites.ContactsActivity"
            android:label="Contacts"
            android:exported="false" />
        <activity
            android:name=".activites.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activites.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>